@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    margin: 0 10px;
  }

  input[password]::-ms-reveal {display : none ;}


  input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mySwiper{
  margin-left: 150px;
}

.card_image{
  box-shadow: 0px 2px 8px 0px rgba(0, 166, 219, 0.10), 2px 0px 4px 0px rgba(0, 166, 219, 0.10);
}

.person_name{
  color: #6D6E70;
  font-size: 13px;
  padding-top: 10px;
}

@media (max-width:425px) {
  .banner_image img{
    width: 50vh;
    margin-left: 10px;
  }  
  .banner_image{
    width: 30vh;
    margin-left: 1px;
  }
}